.home {
    > p {
        text-align: center;
        margin: 2rem;
    }

    > .rdv {
        display: flex;
        justify-content: center;

        > a {
            background-color: rgb(55, 185, 43);
            padding: 0.5rem;
            border-radius: 5px;
        }
    }

    > .rs-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .rs-bar {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;
            padding: 1rem;
            border-radius: 5px;
            font-size: 2rem;
            background-color: rgb(184, 175, 125);
            width: 20rem;

            max-width: 90vw;
        }
    }

    > .rs-logo-container {
        text-align: center;
        font-size: 2rem;

        > a {
            margin: 0.5rem;
        }
    }
}
