header {
    margin-top: 0.5rem;

    .fade-in {
        animation-name: fade-in;
        animation-duration: 0.5s;

        @keyframes fade-in {
            from {
                width: 0%;
            }

            to {
                width: 100%;
            }
        }
    }

    > div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-around;

        > div > svg {
            cursor: pointer;
            font-size: 2rem;
        }
    }

    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}
